<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.liang.mapper.SelectComponentMapper">
    <select id="selectAllComponents" resultType="Component" parameterType="Component">
        select * from components
        <where>
            <if test="name != null and name != ''">
                and name like concat('%', #{name}, '%')
            </if>
            <if test="category != null and category != ''">
                and category like concat('%', #{category}, '%')
            </if>
            <if test="status != null and status != ''">
                and status = #{status}
            </if>
        </where>
    </select>

    <select id="selectComponentById" parameterType="Integer" resultType="Component">
        select * from components where id = #{id}
    </select>
</mapper>