<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.liang.mapper.AddComponentMapper">
    <insert id="save" parameterType="Component">
        insert into components(id, name, category, version, status)
        values (null, #{name}, #{category}, #{version}, #{status})
    </insert>

    <select id="getCount" parameterType="Component" resultType="Integer">
        select count(1) count from components where name = #{name}
    </select>

</mapper>